
<footer class="container-fluid">
    <div class="row bg-warning p-5 d-flex justify-content-center">
      <div class="col-4">
        <h1 class="text-white m-2 me-5 wise">Wise <Span class="text-danger">Choice</Span></h1>
        <a class="text-white nav-link" href="">About Us</a>
        <a class="text-white nav-link" href="{{url_for('bpuser.login')}}">Login Here</a>
        <a href="{{url_for('bpuser.terms')}}" class="nav-link "> terms and condition </a>
      </div>
      <div class="col-4">
        <h6 class="">New to Wise Choice?</h6>
        <p>subscribe to our news letter to get updates on our latest offers!</p>
          <form action="" method="get">
        <input type="email" name="email" id="" class=" form-control " placeholder="Enter Email Address">
        <input type="radio" name="gender" id="" >
        <label for="male">Male</label>
    
        <input type="radio" name="gender" id="" class="text-warning">
        <label for="female">Female</label>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
      <div class="col-4">
        <h6>DOWNLOAD <h1 class="text-white wise">Wise<Span class="text-danger">Choice</Span></h1> FREE APP</h6>
        <P>GET ACCESS TO EXCLUSIVE FREE APPS</P>
  
  
        <div class="d-flex ">
  <div class="col d-flex">
              <!-- apple -->
              <div class="col">
        <a href="https://www.apple.com/app-store/" class="btn  border-dark d-flex butresp" style="width: 135px;  height: 55px;">
        <img src="/static/images/apple.png" alt="" style="width: 30px; height: 35px;">
        <div class=" " >
          
          <span  style="  font-size: 10px;">Download on the </span>
        
        <p  style=" margin-top: -8px; " class="">App store</p>
      </div>
    </a>
  </div>
          <!-- playstore -->
          <div class="col" style="margin-left: -20px ;">
        <a href="https://play.google.com/store/games?device=windows&pli=1" class="btn  border-dark d-flex ms-4 butresp" style="width: 135px;  height: 55px;">
          <img src="/static/images/playstore.png" alt="" style="width: 30px; height: 35px;">
          <div class=" " >
            
            <span  style="  font-size: 10px;">Download on the </span>
          
          <p  style=" margin-top: -8px; " class="">App store</p>
        </div>
      </a>
      </div>
  
    </div>
  
  
  
      </div>
    </div>
    </div>
    
  
    <div class="row bg-dark " style="height: 100px;">
      <div class="col ms-3">
        <h5 class="text-white ">JOIN US ON</h5>
        <img src="/static/images/facebook-app-symbol.png" alt=""  style="width: 30px; height: 30px;" >
        <img src="/static/images/instagram (1).png" alt=""   style="width: 30px; height: 30px;" class="ps-3">
        <img src="/static/images/twitter (1).png" alt=""  style="width: 30px; height: 30px;" class="ps-3">
        <img src="/static/images/youtube.png" alt=""  style="width: 30px; height: 30px;" class="ps-3">
      </div>
      <div class="bg-warning" style="height: 1px;"></div>
    <p class="text-center"> copyright &copy wise choice 2024 </p>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/d6ed06b15b.js" crossorigin="anonymous"></script>
  <script src="{{url_for('bpuser.static',filename='swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('bpuser.static',filename= 'bootstrap/js/bootstrap.bundle.js')}}" type="text/javascript"></script>
      <script src="{{url_for('bpuser.static',filename='jquery.js')}}"></script>
  <script src="{{url_for('bpuser.static',filename='script.js')}}"></script>
   <!-- Initialize Swiper -->