
{% extends 'admin_layout.html'%}

               
               {% block content%}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">All Orders</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active">Orders</li>
                        </ol>
                   
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                               Order Details
                            </div>
                            <div class="card-body">
                               <table class="table">
  <thead>
    <th>Buyers Name</th>
    <th>Order Amount</th>
    <th>Order Status</th>
    <th>Order Date</th>
    
  </thead>
  <tbody>

    {% for order in orders%}
    <tr>
        <td>{{order.my_user.username}}</td>
        <td>{{order.total_amount}}</td>
      <td>{{order.status}}</td>
      <td>{{order.order_date}}</td>
      
    </tr>
{%endfor%}
  </tbody>
</table>
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock content%}
                
               